@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Press+Start+2P&family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*$font-family-art1: "Orbitron", sans-serif;
$font-family-art2: "Roboto", sans-serif;
$gray-background-color: #dbdbdb;
//$black-background-color: #222222;
$black-background-color: black;
$border-color: #fff;



@mixin column-flex-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin column-flex-direction-left-side {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

@mixin row-flex-direction {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gray-border-for-section {
  border: 0.5rem solid #e0e0e0;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

@mixin blue-border-for-section {
  border: 0.5rem solid #039be5;
  border-radius: 0.3rem;
  @include box-adjustment();
}

@mixin headline-button-properties {
  border: 0.1rem solid white;
  background-color: #222222;

  color: #80d8ff;
  border-radius: 0.3rem;
}

@mixin headline-button-hover-properties {
  background-color: white;
  border-color: black;
}

@mixin project-button-properties {
  border: 1px solid #222222;
  background-color: #f3f5f6;

  color: #006db5;
  border-radius: 0.3rem;
}

@mixin project-button-hover-properties {
  background-color: #006db5;
  border-color: white;
  color: white;
}

@mixin box-adjustment() {
  box-sizing: border-box;
}*/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to right,
    #e2e4e7,
    white,
    white,
    white,
    #e2e4e7
  );
}

.head-section {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 3rem 5rem 1rem 5rem;
  padding: 0 0 1rem 0;
}

.welcome-div {
  background-image: url(./assets/star-citizen-4768101_1920.jpg);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0;
}

.logo {
  width: 12rem;
  height: auto;
  border-radius: 50%;
}

.headline {
  font-size: 2.3rem;
  text-align: center;
  color: white;
}

.decoration-img {
  width: auto;
  height: 8rem;
  border-radius: 45%;
}

.developer-div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem 0;
}

.text-and-link-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 1rem;
  height: 100%;
  margin-left: 13rem;
}

.text {
  padding: 5rem 5rem 5rem 3rem;
  text-decoration: left;
  border-radius: 0.3rem;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  line-height: 2rem;
  border: 1px solid #bdbdbd;
  border-radius: 0.2rem;
}

.name {
  font-size: 1.7rem;
  font-weight: bold;
}

.titel {
  font-size: 1.7rem;
  font-weight: bold;
}

/*&__link {
  }*/

.developer-button {
  border: 0.1rem solid white;
  background-color: #222222;
  color: #80d8ff;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  width: 12rem;
  height: 2.7rem;
}

.icon {
  width: 1.5rem;
  height: auto;
  margin-left: 0.3rem;
}

.developer-img {
  margin-left: 13rem;
  width: 13rem;
  height: auto;
  border-radius: 0.2rem;
  border: 0.3rem outset #e0e0e0;
}

/*  Schere Stein Papier */

.rock-paper-scissors-game-section {
  background-image: url(./assets/minecraft-669310_1920.jpg);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  margin: 1rem 5rem;
  padding: 3rem 0;
}

.game-headline-div {
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  column-gap: 3rem;
  border-width: 0.3rem;
  border-style: solid;
  border-top-color: red;
  border-left-color: green;
  border-right-color: blue;
  border-bottom-color: yellow;
  border-radius: 0.2rem;
  width: 80rem;
  height: 7rem;
}

.game-headline-text {
  font-family: "Press Start 2P", serif;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.game-note-headline {
  margin: 2rem 0;
  text-align: center;
}

.evect-div {
  position: absolute;
  width: 62%;
  height: 46vh;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.2rem;
}

.game-round {
  font-size: 1.7rem;
}

.count-game-round-status {
  font-size: 1.8rem;
}

.session-winner {
  font-size: 1.5rem;
}

.sequence-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.2rem;
}

.mini-headline {
  font-size: 1.5rem;
}

.you-you-div {
  font-family: "Alamendra", serif;
  font-size: 1.3rem;
}

.focus-word {
  font-family: "Alamendra", serif;
  font-size: 2.7rem;
}

.question-div {
  position: absolute;
  width: 62%;
  height: 46vh;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.start-game-div,
.game-round-div {
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.2rem;
}

.start-game-button {
  font-size: 0.9rem;
  width: 7rem;
  height: 1.7rem;
  border-width: 0.3rem;
  border-style: solid;
  border-top-color: red;
  border-left-color: green;
  border-right-color: blue;
  border-bottom-color: yellow;
  border-radius: 0.2rem;
}

.button-or-voice-div,
.game-play-again-question-div {
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.2rem;
}

.button-and-voice-div,
.game-play-again-question-button-div,
.you-you-div {
  display: flex;
  column-gap: 1rem;
}

.control-with-buttons {
  font-size: 0.9rem;
  width: 5rem;
  height: 1.7rem;
  border-width: 0.3rem;
  border-style: solid;
  border-top-color: red;
  border-left-color: green;
  border-right-color: blue;
  border-bottom-color: yellow;
  border-radius: 0.2rem;
}

.control-with-voice {
  font-size: 0.9rem;
  width: 9rem;
  height: 1.7rem;
  border-width: 0.3rem;
  border-style: solid;
  border-top-color: red;
  border-left-color: green;
  border-right-color: blue;
  border-bottom-color: yellow;
  border-radius: 0.2rem;
}

.game-play-again-question,
.game-play-again-standard-question {
  font-size: 1.5rem;
}

.game-play-again-yes-button,
.game-play-again-no-button {
  font-size: 0.9rem;
  width: 5rem;
  height: 1.5rem;
  border-width: 0.3rem;
  border-style: solid;
  border-top-color: red;
  border-left-color: green;
  border-right-color: blue;
  border-bottom-color: yellow;
  border-radius: 0.2rem;
}

.playing-field {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  height: 45vh;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.2rem;
}

.player,
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 25%;
  height: 90%;
}

.player-headline,
.computer-headline {
  font-size: 1.6rem;
}

.player-text,
.computer-text {
  font-size: 1.4rem;
  margin-top: 1rem;
}

#player-score,
#computer-score {
  font-size: 1.5rem;
}

.player-img,
.computer-img {
  margin-top: 3rem;
}

.vs {
  width: auto;
  height: 7rem;
}

.control-board-div {
  width: 50%;
  height: 13rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0.2rem solid #dbdbdb;
  border-radius: 0.2rem;
}

.scissors-stone-paper-button-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}

.player-make-a-choice-scissors-button {
  /*font-size: 0.9rem;*/
  width: 13rem;
  height: 9rem;
  border-width: 0.3rem;
  border-style: solid;
  border-top-color: red;
  border-left-color: green;
  border-right-color: blue;
  border-bottom-color: yellow;
  border-radius: 0.2rem;
}

.control-scissors-img {
  width: 10rem;
  height: auto;
  object-fit: cover;
  border-radius: 0.1rem;
}

.player-make-a-choice-stone-button {
  /*font-size: 0.9rem;*/
  width: 13rem;
  height: 9rem;
  border-width: 0.3rem;
  border-style: solid;
  border-top-color: red;
  border-left-color: green;
  border-right-color: blue;
  border-bottom-color: yellow;
  border-radius: 0.2rem;
}

.control-stone-img {
  width: 10rem;
  height: auto;
  object-fit: cover;
}

.player-make-a-choice-paper-button {
  /*font-size: 0.9rem;*/
  width: 13rem;
  height: 9rem;
  border-width: 0.3rem;
  border-style: solid;
  border-top-color: red;
  border-left-color: green;
  border-right-color: blue;
  border-bottom-color: yellow;
  border-radius: 0.2rem;
}

.control-paper-img {
  width: 6rem;
  height: auto;
  object-fit: cover;
}

.voice-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
}

.voice-note {
  font-size: 1.5rem;
}

.player-voice-choice {
  font-size: 1.5rem;
}

.selected {
  font-size: 1.5rem;
}

.start-recognition-button {
  font-size: 1rem;
  width: 11rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  border-width: 0.3rem;
  border-style: solid;
  border-top-color: red;
  border-left-color: green;
  border-right-color: blue;
  border-bottom-color: yellow;
  border-radius: 0.2rem;
}

.microphone {
  width: 1rem;
}

.img-properties {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.turn-around-scissors-img {
  transform: rotateZ(180deg);
}

.hidden {
  display: none;
}

/*  Würfellabyrinth */

.mini-game-section {
  margin: 1rem 5rem;
  padding: 3rem 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.mini-game-headline {
  font-size: 1.7rem;
  text-align: center;
}

.mini-game-description-headline {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.red-dice-description {
  width: 15px;
  height: 15px;
  background-color: red;
}

.goal-dice-description {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid black;
}

.mini-game-description {
  font-size: 1.3rem;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.red-dice {
  width: 15px;
  height: 15px;
  background-color: red;
}

.reset-button {
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
}

.link {
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}
