@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*$font-family-art1: "Orbitron", sans-serif;
$font-family-art2: "Roboto", sans-serif;
$gray-background-color: #dbdbdb;
//$black-background-color: #222222;
$black-background-color: black;
$border-color: #fff;



@mixin column-flex-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin column-flex-direction-left-side {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

@mixin row-flex-direction {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gray-border-for-section {
  border: 0.5rem solid #e0e0e0;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

@mixin blue-border-for-section {
  border: 0.5rem solid #039be5;
  border-radius: 0.3rem;
  @include box-adjustment();
}

@mixin headline-button-properties {
  border: 0.1rem solid white;
  background-color: #222222;

  color: #80d8ff;
  border-radius: 0.3rem;
}

@mixin headline-button-hover-properties {
  background-color: white;
  border-color: black;
}

@mixin project-button-properties {
  border: 1px solid #222222;
  background-color: #f3f5f6;

  color: #006db5;
  border-radius: 0.3rem;
}

@mixin project-button-hover-properties {
  background-color: #006db5;
  border-color: white;
  color: white;
}

@mixin box-adjustment() {
  box-sizing: border-box;
}*/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f5f6;
}

/*.gaming-website {
  background-color: #e0e0e0;
}*/

.head-section {
  border: 0.5rem solid #e0e0e0;
  border-radius: 0.3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 3rem 5rem 1rem 5rem;
  padding: 0 0 1rem 0;
}

.welcome-div {
  background-image: url(./assets/file-XfwJ1K1vnPZ3SgcCjuZHFz.webp);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0;
}

.logo {
  width: 12rem;
  height: auto;
  border-radius: 50%;
}

.headline {
  font-size: 2.3rem;
  text-align: center;
  color: white;
}

.decoration-img {
  width: auto;
  height: 8rem;
  border-radius: 45%;
}

.developer-div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem 0;
}

.text-and-link-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 1rem;
  height: 100%;
  margin-left: 13rem;
}

.text {
  padding: 5rem 5rem 5rem 3rem;
  text-decoration: left;
  border-radius: 0.3rem;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  line-height: 2rem;
}

.name {
  font-size: 1.7rem;
  font-weight: bold;
}

.titel {
  font-size: 1.7rem;
  font-weight: bold;
}

/*&__link {
  }*/

.developer-button {
  border: 0.1rem solid white;
  background-color: #222222;
  color: #80d8ff;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  width: 12rem;
  height: 2.7rem;
}

.icon {
  width: 1.5rem;
  height: auto;
  margin-left: 0.3rem;
}

.developer-img {
  margin-left: 13rem;
  width: 13rem;
  height: auto;
  border-radius: 0.2rem;
  border: 0.3rem outset #e0e0e0;
}

.mini-game-section {
  margin: 1rem 5rem;
  padding: 3rem 0;
  border: 0.5rem solid #e0e0e0;
  border-radius: 0.3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mini-game-headline {
  font-size: 1.7rem;
  text-align: center;
}

.mini-game-description-headline {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.red-dice-description {
  width: 15px;
  height: 15px;
  background-color: red;
}

.goal-dice-description {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid black;
}

.mini-game-description {
  font-size: 1.3rem;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.red-dice {
  width: 15px;
  height: 15px;
  background-color: red;
}

.reset-button {
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
}

.link {
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1700px) {
  .head-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 2rem 5% 1.5rem 5%;
    padding: 0 0 1rem 0;
    border-width: 0.5rem;
  }

  .welcome-div {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin: 0 0 0 5%;
    width: 8rem;
    border: 1px solid white;
    position: none;
  }

  .headline {
    width: 100%;
    font-size: 2.5rem;
    padding: 7%;
    margin: 0 auto;
  }

  .decoration-img {
    margin: 0 5% 0 0;
    width: auto;
    height: 7rem;
    border-radius: 50%;
    position: none;
  }

  .developer-div {
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }

  .text-and-link-div {
    width: 90%;
    max-width: 35rem;
    margin: 0 0 0 15%;
    padding: 0;
  }

  .text {
    font-size: 1.3rem;
    padding: 2.5rem 7%;
    line-height: 2rem;
  }

  .name {
    font-size: 1.7rem;
  }

  .titel {
    font-size: 1.7rem;
  }

  .developer-button {
    font-size: 1rem;
    width: 11.5rem;
    height: 2.2rem;
    margin: 0;
  }

  .icon {
    width: 1.4rem;
    height: auto;
    margin-left: 0.3rem;
  }

  .developer-img {
    margin: 1rem 0 0 7%;
    width: 15rem;
    height: auto;
    border-width: 0.5rem;
  }

  .mini-game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    margin: 1.5rem 5% 3rem 5%;
    padding: 2rem 1%;
    border-width: 0.5rem;
  }

  .mini-game-headline {
    font-size: 2rem;
    padding: 0 3%;
  }

  .mini-game-description-headline {
    font-size: 1.7rem;
    margin-left: 0;
  }

  .red-dice-description {
    width: 25px;
    height: 25px;
    background-color: red;
  }

  .goal-dice-description {
    width: 24px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
  }

  .mini-game-description {
    font-size: 1.5rem;
    margin: 0 1%;
  }

  ol {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 0.5rem;
  }

  li {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .red-dice {
    width: 25px;
    height: 25px;
    background-color: red;
  }

  .canvas {
    width: 95%;
    height: 30rem;
  }

  .button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
    column-gap: 2.5rem;
  }

  .load-button {
    width: 12rem;
    height: 2.3rem;
    font-size: 1.3rem;
  }

  .save-button {
    width: 12rem;
    height: 2.3rem;
    font-size: 1.3rem;
  }

  .reset-button {
    width: 12rem;
    height: 2.3rem;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1700px) {
  .head-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 2rem 5% 1.5rem 5%;
    padding: 0 0 1rem 0;
    border-width: 0.5rem;
  }

  .welcome-div {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin: 12rem 0 0 -70%;
    width: 8rem;
    border: 1px solid white;
    position: absolute;
  }

  .headline {
    width: 100%;
    font-size: 2.5rem;
    padding: 7%;
    margin: 0 auto 5.5rem auto;
  }

  .decoration-img {
    margin: 12rem -65% 0 0;
    width: auto;
    height: 7rem;
    border-radius: 50%;
    position: absolute;
  }

  .developer-div {
    display: flex;

    align-items: center;
    padding: 1rem 0;
  }

  .text-and-link-div {
    width: 90%;
    max-width: 30rem;
    margin: 0 0 0 10%;
    padding: 0;
  }

  .text {
    font-size: 1.2rem;
    padding: 2.5rem 7%;
    line-height: 2rem;
  }

  .name {
    font-size: 1.5rem;
  }

  .titel {
    font-size: 1.5rem;
  }

  .developer-button {
    font-size: 1rem;
    width: 11.5rem;
    height: 2.2rem;
    margin: 0;
  }

  .icon {
    width: 1.4rem;
    height: auto;
    margin-left: 0.3rem;
  }

  .developer-img {
    margin: 1rem 0 0 7%;
    width: 14rem;
    height: auto;
    border-width: 0.4rem;
  }

  .mini-game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    margin: 1.5rem 5% 3rem 5%;
    padding: 2rem 1%;
    border-width: 0.5rem;
  }

  .mini-game-headline {
    font-size: 2rem;
    padding: 0 3%;
  }

  .mini-game-description-headline {
    font-size: 1.7rem;
    margin-left: 0;
  }

  .red-dice-description {
    width: 23px;
    height: 23px;
    background-color: red;
  }

  .goal-dice-description {
    width: 22px;
    height: 22px;
    background-color: white;
    border: 1px solid black;
  }

  .mini-game-description {
    font-size: 1.5rem;
    margin: 0 1%;
  }

  ol {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 0.5rem;
  }

  li {
    display: flex;

    align-items: center;
    justify-content: left;
  }

  .red-dice {
    width: 23px;
    height: 23px;
    background-color: red;
  }

  .canvas {
    width: 95%;
    height: 25rem;
  }

  .button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
    column-gap: 2rem;
  }

  .load-button {
    width: 12rem;
    height: 2.3rem;
    font-size: 1.3rem;
  }

  .save-button {
    width: 12rem;
    height: 2.3rem;
    font-size: 1.3rem;
  }

  .reset-button {
    width: 12rem;
    height: 2.3rem;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1400px) {
  .head-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 1.5rem 5% 1.3rem 5%;
    padding: 0 0 1rem 0;
    border-width: 0.4rem;
  }

  .welcome-div {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin: 12rem 0 0 -60%;
    width: 7rem;
    border: 1px solid white;
    position: absolute;
  }

  .headline {
    width: 100%;
    font-size: 2.3rem;
    padding: 7%;
    margin: 0 auto 5.5rem auto;
  }

  .decoration-img {
    margin: 12rem -60% 0 0;
    width: auto;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
  }

  .developer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem 0;
  }

  .text-and-link-div {
    width: 90%;
    margin: 0 0 0 0;
    padding: 0;
  }

  .text {
    font-size: 1.1rem;
    padding: 2rem 7%;
    line-height: 1.7rem;
  }

  .name {
    font-size: 1.4rem;
  }

  .titel {
    font-size: 1.4rem;
  }

  .developer-button {
    font-size: 1rem;
    width: 11.5rem;
    height: 2.2rem;
    margin: 0;
  }

  .icon {
    width: 1.4rem;
    height: auto;
    margin-left: 0.3rem;
  }

  .developer-img {
    margin: 1rem 0 0 0;
    width: 16rem;
    height: auto;
    border-width: 0.4rem;
  }

  .mini-game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    margin: 1.3rem 5% 3rem 5%;
    padding: 2rem 1%;
    border-width: 0.4rem;
  }

  .mini-game-headline {
    font-size: 1.7rem;
    padding: 0 3%;
  }

  .mini-game-description-headline {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .red-dice-description {
    width: 20px;
    height: 20px;
    background-color: red;
  }

  .goal-dice-description {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
  }

  .mini-game-description {
    font-size: 1.3rem;
    margin: 0 1%;
  }

  ol {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 0.5rem;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .red-dice {
    width: 20px;
    height: 20px;
    background-color: red;
  }

  .canvas {
    width: 95%;
    height: 20rem;
  }

  .button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
    column-gap: 1.5rem;
  }

  .load-button {
    width: 11rem;
    height: 2.1rem;
    font-size: 1.2rem;
  }

  .save-button {
    width: 11rem;
    height: 2.1rem;
    font-size: 1.2rem;
  }

  .reset-button {
    width: 11rem;
    height: 2.1rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .head-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 1rem 3% 1rem 3%;
    padding: 0 0 1rem 0;
    border-width: 0.4rem;
  }

  .welcome-div {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin: 12rem 0 0 -60%;
    width: 6rem;
    border: 1px solid white;
    position: absolute;
  }

  .headline {
    width: 100%;
    font-size: 2rem;
    padding: 7%;
    margin: 0 auto 5.5rem auto;
  }

  .decoration-img {
    margin: 12rem -60% 0 0;
    width: auto;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
  }

  .developer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem 0;
  }

  .text-and-link-div {
    width: 90%;
    margin: 0 0 0 0;
    padding: 0 auto;
  }

  .text {
    font-size: 1rem;
    padding: 0.5rem 7%;
    line-height: 1.5rem;
  }

  .name {
    font-size: 1.2rem;
  }

  .titel {
    font-size: 1.2rem;
  }

  .developer-button {
    font-size: 1rem;
    width: 11rem;
    height: 2.2rem;
    margin: 0;
  }

  .icon {
    width: 1.3rem;
    height: auto;
    margin-left: 0.3rem;
  }

  .developer-img {
    margin: 1rem 0 0 0;
    width: 15rem;
    height: auto;
    border-width: 0.4rem;
  }

  .mini-game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    margin: 1rem 3% 1rem 3%;
    padding: 1rem 1%;
    border-width: 0.4rem;
  }

  .mini-game-headline {
    font-size: 1.5rem;
    padding: 0 3%;
  }

  .mini-game-description-headline {
    font-size: 1.3rem;
    margin-left: 0;
  }

  .red-dice-description {
    width: 18px;
    height: 18px;
    background-color: red;
  }

  .goal-dice-description {
    width: 17px;
    height: 17px;
    background-color: white;
    border: 1px solid black;
  }

  .mini-game-description {
    font-size: 1.2rem;
    margin: 0 7%;
  }

  ol {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 0.5rem;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .red-dice {
    width: 18px;
    height: 18px;
    background-color: red;
  }

  .canvas {
    width: 95%;
    height: 15rem;
  }

  .button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -0.5rem auto 1rem auto;
    column-gap: 1rem;
  }

  .load-button {
    width: 10rem;
    height: 2rem;
    font-size: 1.1rem;
  }

  .save-button {
    width: 10rem;
    height: 2rem;
    font-size: 1.1rem;
  }

  .reset-button {
    width: 10rem;
    height: 2rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 600px) {
  .head-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 1rem 3% 0.7rem 3%;
    padding: 0 0 1rem 0;
    border-width: 0.3rem;
  }

  .welcome-div {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin: 10rem 0 0 -50%;
    width: 4rem;
    border: 1px solid white;
    position: absolute;
  }

  .headline {
    width: 100%;
    font-size: 1.3rem;
    padding: 7%;
    margin: 0 auto 5.5rem auto;
  }

  .decoration-img {
    margin: 10rem -50% 0 0;
    width: auto;
    height: 3.5rem;
    border-radius: 50%;
    position: absolute;
  }

  .developer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem 0;
  }

  .text-and-link-div {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .text {
    font-size: 0.9rem;
    padding: 0.5rem 7%;
    line-height: 1.5rem;
  }

  .name {
    font-size: 1.1rem;
  }

  .titel {
    font-size: 1.1rem;
  }

  .developer-button {
    font-size: 0.9rem;
    width: 9.5rem;
    height: 2.1rem;
    margin: 0;
  }

  .icon {
    width: 1.2rem;
    height: auto;
    margin-left: 0.3rem;
  }

  .developer-img {
    margin: 1rem 0 0 0;
    width: 12rem;
    height: auto;
  }

  .mini-game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    margin: 0.7rem 3% 1rem 3%;
    padding: 1rem 1%;
    border-width: 0.3rem;
  }

  .mini-game-headline {
    font-size: 1.4rem;
    padding: 0 3%;
  }

  .mini-game-description-headline {
    font-size: 1.2rem;
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .red-dice-description {
    width: 17px;
    height: 17px;
    background-color: red;
  }

  .goal-dice-description {
    width: 16px;
    height: 16px;
    background-color: white;
    border: 1px solid black;
  }

  .mini-game-description {
    font-size: 1.1rem;
    margin: 0 10%;
  }

  ol {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 0.5rem;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .red-dice {
    width: 17px;
    height: 17px;
    background-color: red;
  }

  .canvas {
    width: 95%;
    height: 10rem;
  }

  .button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -1rem auto 0 auto;
    row-gap: 0.5rem;
  }

  .load-button {
    width: 9rem;
    height: 1.7rem;
    font-size: 1rem;
  }

  .save-button {
    width: 9rem;
    height: 1.7rem;
    font-size: 1rem;
  }

  .reset-button {
    width: 9rem;
    height: 1.7rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .head-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 1rem 3% 0.5rem 3%;
    padding: 0 0 1rem 0;
    border-width: 0.3rem;
  }

  .welcome-div {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin: 7rem 0 0 -50%;
    width: 3rem;
    border: 1px solid white;
    position: absolute;
  }

  .headline {
    width: 100%;
    font-size: 1rem;
    padding: 5%;
    margin: 0 auto 4rem auto;
  }

  .decoration-img {
    margin: 7rem -50% 0 0;
    width: auto;
    height: 2.5rem;
    border-radius: 50%;
    position: absolute;
  }

  .developer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem 0;
  }

  .text-and-link-div {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .text {
    font-size: 0.8rem;
    padding: 0.5rem 7%;
    line-height: 1.5rem;
  }

  .name {
    font-size: 1rem;
  }

  .titel {
    font-size: 1rem;
  }

  .developer-button {
    font-size: 0.8rem;
    width: 9rem;
    height: 2rem;
    margin: 0;
  }

  .icon {
    width: 1.1rem;
    height: auto;
    margin-left: 0.3rem;
  }

  .developer-img {
    margin: 1rem 0 0 0;
    width: 10rem;
    height: auto;
  }

  .mini-game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    margin: 0.5rem 3%;
    padding: 1rem 1%;
    border-width: 0.3rem;
  }

  .mini-game-headline {
    font-size: 1.3rem;
  }

  .mini-game-description-headline {
    font-size: 1.1rem;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .red-dice-description {
    width: 15px;
    height: 15px;
    background-color: red;
  }

  .goal-dice-description {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
  }

  .mini-game-description {
    font-size: 1rem;
    margin: 0 15%;
  }

  ol {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 0.5rem;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .red-dice {
    width: 15px;
    height: 15px;
    background-color: red;
  }

  .canvas {
    width: 95%;
    height: 10rem;
  }

  .button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -1rem auto 0 auto;
    row-gap: 0.5rem;
  }

  .load-button {
    width: 8rem;
    height: 1.6rem;
    font-size: 0.9rem;
  }

  .save-button {
    width: 8rem;
    height: 1.6rem;
    font-size: 0.9rem;
  }

  .reset-button {
    width: 8rem;
    height: 1.6rem;
    font-size: 0.9rem;
  }
}
